

$primary    :  #f7f7f7;
$secondary  :  #f7f7f7;
$header     :  #fff;
$dark       :  #000;
$border		:  #f9ca24;
$white      :  #fff;
$theme      :  #f7f7f7;
$button     :  #ff3d4f;
$hover      :  #ff3d4f;
$footer     :  #202020;   

